* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 15px; 
}

.signup-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 100%; /* Changed to 100% to make it flexible */
    max-width: 350px; /* Keeps the container from getting too wide on larger screens */
}

.signup-form h1 {
    text-align: center;
    color: #4a90e2;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.input-field input:focus {
    border-color: #4a90e2;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50px;
    cursor: pointer;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-btn:hover {
    background-color: #357ab8;
}

.signin-link {
    text-align: center;
    margin-top: 20px;
}

.signin-link p {
    font-size: 14px;
}

.signin-link a {
    color: #4a90e2;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 414px) {
    .signup-container {
        padding: 20px; 
    }

    .signup-form h1 {
        font-size: 22px; 
    }

    .input-field input {
        font-size: 12px; 
        padding: 8px; 
    }

    .signup-btn {
        padding: 10px;
        font-size: 14px; 
    }
}
